.big-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.orders-container {
  width: 100%;
  align-items: center;
  background-color: gray;
}

.buttons-container {
  display: flex;
  width: 30%;
  flex-direction: row;
  justify-content: space-between;
}

.table-container {
  width: 100vw;
}
